In [1]:
# first neural network with keras tutorial
import pandas as pd
import pandas_ta as ta
import random
from collections import deque
import numpy as np
import tensorflow as tf
from tensorflow.keras.regularizers import l2
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization, Flatten, Activation, SimpleRNN
from tensorflow.keras.callbacks import ModelCheckpoint, ModelCheckpoint, Callback, TensorBoard, LearningRateScheduler
import time
import statistics
from sklearn import preprocessing
from matplotlib import pyplot as plt
import os.path
from numpy import loadtxt
import yfinance as yf
import math
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
## getting data ##
def getDF():
    # Load data
    df = pd.read_csv('BTC-USD_1hour.csv')
    df = df.drop(columns=['Unnamed: 0'])
    df = df.tail(900)
    
    # add data points
    df['close_per1'] = df.ta.percent_return(length=1, close = df['close'])*100
    df['close_per3'] = df.ta.percent_return(length=3, close = df['close'])*100
    df['ema10'] = df.ta.ema(length=10, close = df['close'])
    df['ema3'] = df.ta.ema(length=3, close = df['close'])
    df['rsi7'] = df.ta.rsi(length=7, close = df['close'])/100
    df['rsi14'] = df.ta.rsi(length=14, close = df['close'])/100
    df['williams7'] = df.ta.willr(length=7, close = df['close'])/100
    df['williams14'] = df.ta.willr(length=14, close = df['close'])/100
    

#     del df['timestamp']
    del df['trades']
    del df['volume']
    
    df = df.dropna()
    df.reset_index(inplace=True)
    
    return df

In [3]:
df = getDF()
df.tail(5)

,index,timestamp,open,high,low,close,close_per1,close_per3,ema10,ema3,rsi7,rsi14,williams7,williams14
881,1996,"03/05/2022, 18:00:00",39466.30,39468.30,39337.11,39407.02,-0.150204,-0.211671,39369.164537,39423.083528,0.551462,0.451139,-0.586428,-0.258609
882,1997,"03/05/2022, 19:00:00",39407.02,39611.31,39361.85,39602.27,0.495470,0.584474,39411.547349,39512.676764,0.678469,0.518709,-0.027262,-0.013537
883,1998,"03/05/2022, 20:00:00",39602.27,39686.74,39441.29,39458.78,-0.362328,-0.019054,39420.135103,39485.728382,0.545930,0.472657,-0.576006,-0.306719
884,1999,"03/05/2022, 21:00:00",39458.78,39533.00,39383.49,39529.36,0.178870,0.310452,39439.994176,39507.544191,0.591702,0.496343,-0.397665,-0.211754
885,2000,"03/05/2022, 22:00:00",39529.36,39569.60,39284.67,39373.74,-0.393682,-0.577063,39427.947962,39440.642096,0.469865,0.448508,-0.778471,-0.432016

In [5]:
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.2.45b0
Total Indicators: 133
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_doji, cdl_inside, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, decay, decreasing, dema, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, kama, kc, kdj, kst, kurtosis, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, ssf, stdev, stoch, stochrsi, supertrend, swma, t3, tema, thermo, trend_return, trima, trix, true_range, tsi, ttm_trend, ui, uo, variance, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, zlma, zscore

In [6]:
df.ta.bbands()

        BBL_5_2.0  BBM_5_2.0     BBU_5_2.0  BBB_5_2.0
0             NaN        NaN           NaN        NaN
1             NaN        NaN           NaN        NaN
2             NaN        NaN           NaN        NaN
3             NaN        NaN           NaN        NaN
4    36376.661998  36707.532  37038.402002   1.802736
..            ...        ...           ...        ...
881  39341.611085  39435.742  39529.872915   0.477389
882  39290.334799  39467.670  39645.005201   0.898635
883  39285.810604  39461.304  39636.797396   0.889445
884  39342.618991  39492.746  39642.873009   0.760276
885  39289.064658  39474.234  39659.403342   0.938178

[886 rows x 4 columns]

In [7]:
help(ta.bbands)

Help on function bbands in module pandas_ta.volatility.bbands:

bbands(close, length=None, std=None, mamode=None, offset=None, **kwargs)
    Bollinger Bands (BBANDS)

    A popular volatility indicator.

    Sources:
        https://www.tradingview.com/wiki/Bollinger_Bands_(BB)

    Calculation:
        Default Inputs:
            length=20, std=2
        EMA = Exponential Moving Average
        SMA = Simple Moving Average
        STDEV = Standard Deviation
        stdev = STDEV(close, length)
        if "ema":
            MID = EMA(close, length)
        else:
            MID = SMA(close, length)

        LOWER = MID - std * stdev
        UPPER = MID + std * stdev

        BANDWIDTH = 100 * (UPPER - LOWER) / MID

    Args:
        close (pd.Series): Series of 'close's
        length (int): The short period. Default: 20
        std (int): The long period. Default: 2
        mamode (str): Two options: "sma" or "ema". Default: "ema"
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: lower, mid, upper, bandwidth columns.

In [8]:
help(ta.stochrsi)

Help on function stochrsi in module pandas_ta.momentum.stochrsi:

stochrsi(close, length=None, rsi_length=None, k=None, d=None, offset=None, **kwargs)
    Stochastic (STOCHRSI)

    "Stochastic RSI and Dynamic Momentum Index" was created by Tushar Chande and Stanley Kroll and published in Stock & Commodities V.11:5 (189-199)

    It is a range-bound oscillator with two lines moving between 0 and 100.
    The first line (%K) displays the current RSI in relation to the period's
    high/low range. The second line (%D) is a Simple Moving Average of the %K line.
    The most common choices are a 14 period %K and a 3 period SMA for %D.

    Sources:
        https://www.tradingview.com/wiki/Stochastic_(STOCH)

    Calculation:
        Default Inputs:
            length=14, rsi_length=14, k=3, d=3
        RSI = Relative Strength Index
        SMA = Simple Moving Average

        RSI = RSI(high, low, close, rsi_length)
        LL  = lowest RSI for last rsi_length periods
        HH  = highest RSI for last rsi_length periods

        STOCHRSI  = 100 * (RSI - LL) / (HH - LL)
        STOCHRSIk = SMA(STOCHRSI, k)
        STOCHRSId = SMA(STOCHRSIk, d)

    Args:
        high (pd.Series): Series of 'high's
        low (pd.Series): Series of 'low's
        close (pd.Series): Series of 'close's
        length (int): The STOCHRSI period. Default: 14
        rsi_length (int): RSI period. Default: 14
        k (int): The Fast %K period. Default: 3
        d (int): The Slow %K period. Default: 3
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: RSI %K, RSI %D columns.

In [9]:
df.ta.stochrsi()

     STOCHRSIk_14_14_3_3  STOCHRSId_14_14_3_3
0                    NaN                  NaN
1                    NaN                  NaN
2                    NaN                  NaN
3                    NaN                  NaN
4                    NaN                  NaN
..                   ...                  ...
881            88.914674            91.706120
882            95.689422            92.527510
883            88.654958            91.086352
884            89.182535            91.175639
885            75.590461            84.475985

[886 rows x 2 columns]