In [29]:
import requests
import pandas as pd
import csv
import sys

In [2]:
def getting_request_response():
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=NPS6524MZ7FH4OI&datatype=csv'
    r = requests.get(url)
    return r

In [3]:
def convert_to_dictionary(response):
    # decoding the response from the request
    decoded_content = response.content.decode('utf-8')
    cr = csv.reader(decoded_content.splitlines(), delimiter=',')
    my_list = list(cr)
    
    # Creating a list of list so the data can be seperated. Keeping it the same size as the number of columns
    LISTS = [[] for i in range(len(my_list[0]))]
    
    # Seperating the data into seperate columns.
    for row in my_list:
        list_position = 0
        for List in LISTS:
            List.append(row[list_position])
            list_position += 1
            
    # Assembling the dictionary
    data_dic = {} # Making the dictionary that will hold the data
    # Making the first element the key and the rest the data for the key
    for List in LISTS:
        data_dic[List[0]] = List[1:]
        
    return data_dic

In [20]:
# Getting the data and seperating it
response = getting_request_response()
data = convert_to_dictionary(response)

In [11]:
data['timestamp'][0:10]

['2022-03-04 18:25:00',
 '2022-03-04 17:40:00',
 '2022-03-04 16:35:00',
 '2022-03-04 16:20:00',
 '2022-03-04 16:10:00',
 '2022-03-04 16:05:00',
 '2022-03-04 16:00:00',
 '2022-03-04 15:55:00',
 '2022-03-04 15:50:00',
 '2022-03-04 15:45:00']

In [7]:
data.keys()

dict_keys(['timestamp', 'open', 'high', 'low', 'close', 'volume'])

In [21]:
loc = data['timestamp'][0:10].index('2022-03-04 16:35:00')
loc

2

In [22]:
data['timestamp'][loc]

'2022-03-04 16:35:00'

In [23]:
variables = ['open', 'high', 'low', 'close', 'volume']
# data = [var for var in variables]
info = [data[var][loc] for var in variables]
# data = []
# for var in variables:
#     data = [var for var in variables]

In [26]:
tuple([data[var][loc] for var in variables])

('126.8700', '126.8700', '126.6200', '126.8700', '833')

In [27]:
# onverting the dictionary to a dataframe
df = pd.DataFrame(data)

In [31]:
print(sys.getsizeof(df))
print(sys.getsizeof(data))

39911
360

In [28]:
df.tail(5)

              timestamp      open      high       low     close volume
95  2022-03-04 05:00:00  124.3300  124.3300  124.3200  124.3200    500
96  2022-03-04 04:50:00  124.5000  124.5000  124.5000  124.5000   1137
97  2022-03-03 20:00:00  125.0000  125.0000  125.0000  125.0000    400
98  2022-03-03 19:55:00  123.8900  123.8900  123.8900  123.8900    800
99  2022-03-03 19:50:00  124.5300  124.5300  124.5300  124.5300    276