In [7]:
import requests
import json
# first neural network with keras tutorial
import pandas as pd
import pandas_ta as ta
import random
from collections import deque
import numpy as np
import tensorflow as tf
from tensorflow.keras.regularizers import l2
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization, Flatten, Activation, SimpleRNN
from tensorflow.keras.callbacks import ModelCheckpoint, ModelCheckpoint, Callback, TensorBoard, LearningRateScheduler
import time
import statistics
from sklearn import preprocessing
from matplotlib import pyplot as plt
from IPython.display import clear_output
import os.path
from numpy import loadtxt
import yfinance as yf
import math
import datetime
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:

url = "https://min-api.cryptocompare.com/data/v2/histohour?fsym=BTC&tsym=USD&limit=2000"
response = requests.get(url)
info = json.loads(response.content)

In [3]:
info = json.loads(response.content)

In [5]:
len(info['Data']['Data'])

2001

In [10]:
info['Data']['Data'][-1]

{'time': 1646535600,
 'high': 39569.6,
 'low': 39284.67,
 'open': 39529.36,
 'volumefrom': 497.25,
 'volumeto': 19610852.76,
 'close': 39373.74,
 'conversionType': 'direct',
 'conversionSymbol': ''}

In [36]:
open = []; high = []; low = []; close = []; volume = []; trades = []; timestamp = []
for row in info['Data']['Data']:
    open.append(row['open'])
    high.append(row['high'])
    low.append(row['low'])
    close.append(row['close'])
    volume.append(row['volumeto'])
    trades.append(row['volumefrom'])
    ts = datetime.datetime.fromtimestamp(row['time']).strftime("%m/%d/%Y, %H:%M:%S")
    timestamp.append(datetime.datetime.fromtimestamp(row['time']).strftime("%m/%d/%Y, %H:%M:%S"))

In [37]:
column_names = ['timestamp', 'open', 'high', 'low', 'close', 'volume','trades']
df = pd.DataFrame(columns = column_names)

In [38]:
df['timestamp'] = timestamp
df['open'] = open
df['high'] = high
df['low'] = low
df['close'] = close
df['volume'] = volume
df['trades'] = trades

In [40]:
df.to_csv('BTC-USD_1hour.csv')

In [39]:
df.tail(5)

,timestamp,open,high,low,close,volume,trades
1996,"03/05/2022, 18:00:00",39466.30,39468.30,39337.11,39407.02,15265152.25,387.57
1997,"03/05/2022, 19:00:00",39407.02,39611.31,39361.85,39602.27,27088787.85,685.33
1998,"03/05/2022, 20:00:00",39602.27,39686.74,39441.29,39458.78,20012948.48,506.31
1999,"03/05/2022, 21:00:00",39458.78,39533.00,39383.49,39529.36,15364904.21,389.32
2000,"03/05/2022, 22:00:00",39529.36,39569.60,39284.67,39373.74,19610852.76,497.25